@tailwind base;
@tailwind components;
@tailwind utilities;

.pnc-banner {
  @apply bg-cover bg-center;
  background-image: url("./assets/pnc-banner.jpg");
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


@layer base { img { display: initial; } }